# Gopkg.toml example
#
# Refer to https://golang.github.io/dep/docs/Gopkg.toml.html
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true


[[constraint]]
  branch = "master"
  name = "git.torproject.org/pluggable-transports/goptlib.git"

[[constraint]]
  branch = "master"
  name = "git.torproject.org/pluggable-transports/obfs4.git"

[[constraint]]
  branch = "master"
  name = "github.com/blang/semver"

[[constraint]]
  branch = "master"
  name = "github.com/dustin/go-humanize"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/bbrconn"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/borda"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/ema"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/enhttp"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/errors"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/geolookup"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/golog"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/http-proxy"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/kcpwrapper"

# This override is necessary because our kcp-go branch doesn't work with the
# latest revision of this project.
[[override]]
  name = "github.com/templexxx/reedsolomon"
  revision = "7092926d7d05c415fabb892b1464a03f8228ab80"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/keyman"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/lampshade"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/measured"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/mockconn"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/mtime"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/netx"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/ops"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/proxy"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/testredis"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/tlsdefaults"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/tlsredis"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/waitforserver"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/withtimeout"

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/zenodb"

[[constraint]]
  branch = "master"
  name = "github.com/golang/groupcache"

[[constraint]]
  branch = "master"
  name = "github.com/gonum/stat"

[[constraint]]
  branch = "master"
  name = "github.com/hashicorp/golang-lru"

[[constraint]]
  branch = "master"
  name = "github.com/juju/ratelimit"

[[constraint]]
  branch = "master"
  name = "github.com/rcrowley/go-metrics"

[[constraint]]
  branch = "master"
  name = "github.com/stretchr/testify"

[[constraint]]
  branch = "master"
  name = "github.com/vharitonsky/iniflags"

[[constraint]]
  branch = "master"
  name = "golang.org/x/net"

[[constraint]]
  name = "gopkg.in/redis.v5"
  version = "5.2.9"

[prune]
  go-tests = true
  unused-packages = true

[[constraint]]
  branch = "master"
  name = "github.com/getlantern/quicwrapper"

[[override]]
  name = "github.com/getlantern/quic-go"
  branch = "master"
