[Unit]
Description=http-proxy service (%i)
After=network.target nss-lookup.target network-online.target

[Service]
ExecStart=/usr/bin/http-proxy -config /etc/http-proxy/%i.ini
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
